@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  font-family: "DM Sans";
}

body .order_now {
  border: 0;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  outline: none;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: white;
  background: #486284;
}

body .content header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  height: 48px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1c8c8;
  padding: 12px 0;
}

body .content header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

body .content header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "DM Sans";
  gap: 48px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

body .content header nav ul li {
  color: #486284;
}

body .content main {
  max-width: 1440px;
  width: 100%;
  height: 650px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

body .content main .wrapper {
  max-width: 770px;
  width: 100%;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content main .wrapper .moodal {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  margin: 0 auto;
  color: #7b95b7;
}

body .content main .wrapper h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #486284;
}

body .content main .wrapper .welcome {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 16px;
  color: #758dad;
}

body .content main .wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

body .content main .wrapper .buttons .explore {
  border: 0;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid #486284;
  opacity: 0px;
  outline: none;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #486284;
  background: white;
}

body .content main .wrapper .by {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #9cb0c9;
  margin-top: 64px;
}

body .content main .wrapper .logs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  margin-top: 20px;
}

body .modal {
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(47, 56, 79, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .modal .container {
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 356px;
  height: 167px;
  top: 313px;
  left: 542px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  background-color: white;
}

body .modal .container .first_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 9px 0px 16px;
}

body .modal .container .first_line .calm {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: left;
  color: #2f384f;
}

body .modal .container .madol_p {
  width: 308px;
  height: 32px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  text-align: left;
  padding: 29px 32px 0 16px;
  color: #2f384f;
}

body .modal .container .but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  padding: 35px 21px 18px 95px;
}

body .modal .container .but .deny {
  border: none;
  padding: 4px 40px;
  border-radius: 3px;
  border: 2px solid #ff97c9;
  color: #ff97c9;
  background-color: inherit;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  text-align: left;
}

body .modal .container .but .confirm {
  border: none;
  padding: 4px 40px;
  border-radius: 3px;
  background-color: inherit;
  background: #1c3177;
  color: white;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.62px;
  text-align: left;
}

body .active {
  opacity: 1;
  visibility: visible;
}

body .active .container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */